<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="footer-img" src="/images/mujer.png" alt="">
                    <h2>María Vaccario</h2>
                    <p>e-mail: mvaccario@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="footer-img" src="/images/gerente.png" alt="">
                    <h2>Felipe Sanguinetti</h2>
                    <p>e-mail: fsanguinetti@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <img class="footer-img" src="/images/gerente.png" alt="">
                    <h2>Simón de Abelleyra</h2>
                    <p>e-mail: sdeabelleyra@udesa.edu.ar</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
</body>

</html>